<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CreateProduct</servlet-name>
        <servlet-class>PackageProduct.CreateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayProudct</servlet-name>
        <servlet-class>PackageProduct.DisplayProudct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditeProduct</servlet-name>
        <servlet-class>PackageProduct.EditeProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProductInDatabase</servlet-name>
        <servlet-class>PackageProduct.updateProductInDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>PackageProduct.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>PackageUser.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayUser</servlet-name>
        <servlet-class>PackageUser.DisplayUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUserInDatabase</servlet-name>
        <servlet-class>PackageUser.updateUserInDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>PackageUser.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>PackageUser.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayOrder</servlet-name>
        <servlet-class>Servlets.DisplayOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addchart</servlet-name>
        <servlet-class>Servlets.addchart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validation</servlet-name>
        <servlet-class>PackageUser.validation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>PackageUser.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>PackageUser.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeitem</servlet-name>
        <servlet-class>Servlets.removeitem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertOrder</servlet-name>
        <servlet-class>Servlets.InsertOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateProduct</servlet-name>
        <url-pattern>/CreateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayProudct</servlet-name>
        <url-pattern>/DisplayProudct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditeProduct</servlet-name>
        <url-pattern>/EditeProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProductInDatabase</servlet-name>
        <url-pattern>/updateProductInDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayUser</servlet-name>
        <url-pattern>/DisplayUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUserInDatabase</servlet-name>
        <url-pattern>/updateUserInDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayOrder</servlet-name>
        <url-pattern>/DisplayOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addchart</servlet-name>
        <url-pattern>/addchart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validation</servlet-name>
        <url-pattern>/validation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeitem</servlet-name>
        <url-pattern>/removeitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertOrder</servlet-name>
        <url-pattern>/InsertOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
